[http]
	sslVerify = false
[credential]
	helper = store
[core]
	editor = vim
[user]
	name = koch_p
	email = koch@prime-research.com
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
        lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
