!urxvt config
URxvt.saveLines: 1000
URxvt.scrollBar: false
URxvt.foreground: white
URxvt.secondaryScroll: true
URxvt.font: xft:Input Mono ExLight:pixelsize=13
URxvt.perl-ext: default,matcher
URxvt.url-launcher: vivaldi
URxvt.matcher.button: 2
URxvt.tabbed.saveLines: 1000
URxvt.tabbed.scrollBar: false
URxvt.tabbed.tabbar-fg: 3
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg: 0
URxvt.tabbed.secondaryScroll: true
URxvt.tabbed.font: xft:Input Mono ExLight:pixelsize=13
!xterm style word-wise movement
URxvt.keysym.Control-Left:    \033[1;5D
URxvt.keysym.Control-Right:    \033[1;5C
URxvt.depth: 32
URxvt.background: rgba:0000/0000/0200/c800

!smaller cursor
Xcursor.size: 16

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #1d1f21, #81a2be, #1d1f21
rofi.color-normal: #373b41, #969896, #282a2e, #969896, #373b41
rofi.color-active: #373b41, #de935f, #282a2e, #de935f, #373b41
rofi.color-urgent: #373b41, #cc6666, #282a2e, #cc6666, #373b41

! ------------------------------------------------------------------------------
! PRETTY FONTS
! ------------------------------------------------------------------------------

Xft.autohint: 0
Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault


! ------------------------------------------------------------------------------
! irssi
! ------------------------------------------------------------------------------
Rxvt.modifier: alt

!-------------------------------------------------------------------------------
! MATERIAL DESIGN COLORS
!-------------------------------------------------------------------------------
! black
*color0  			: #263238
*color8  			: #37474f
! red
*color1  			: #ff9800
*color9  			: #ffa74d
! green
*color2  			: #8bc34a
*color10 			: #9ccc65
! yellow
*color3  			: #ffc107
*color11 			: #ffa000
! blue
*color4  			: #03a9f4
*color12 			: #81d4fa
! magenta
*color5  			: #e91e63
*color13 			: #ad1457
! cyan
*color6  			: #009688
*color14 			: #26a69a
! white
*color7  			: #cfd8dc
*color15 			: #eceff1
